$my_bg: #ddd !default;
$my_links: #090 !default;
$my_code: #eee !default;

.site-header {
  background-color: $my_bg;
}

.site-footer {
  background-color: $my_bg;
}

a {
  color: $my_links;

  &:visited {
    color: $my_links;
  }

  &:hover {
    color: $my_links;
  }
}

pre, code {
  background-color: $my_code;
}

.highlight {
  .highlighter-rouge & {
    background: $my_code;
  }
}
